@import './variables';
@import './normalize';

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-color);
    opacity: var(--overlay-opacity);
    transition: $animation;
}

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 376px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--box-shadow);

    &-display {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 175px;
        background: var(--display-background-color);
        transition: background $animation;
        padding: 40px 30px;
        color: #fff;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: var(--opacity);
            background: var(--gradient);
            transition: opacity $animation;
        }

        h1 {
            position: relative;
            font-size: 60px;
            font-weight: 500;
            color: #fff;
        }

        h3 {
            position: relative;
            margin-bottom: 15px;
            height: 20px;
            opacity: .5;
        }
    }


    &-keypad {
        display: flex;

        button {
            width: 94px;
            height: 94px;
            border: none;
            font-size: 30px;
            color: var(--button-text-color);
            transition: background $animation, color $animation;
            cursor: pointer;

            &:hover {
                background-color: var(--key-hover-color);
            }

            &:active {
                background-color: darken(#d1d1d1, 20);
                transition: none;
            }
        }

        .input-keys {

            .digit-key {
                background-color: var(--button-digit-color);

                &:hover {
                    background-color: var(--key-hover-color)
                }

                &:active {
                    background-color: darken(#d1d1d1, 20);
                    transition: none;
                }
            }

            .key-0 {
                width: calc(94px * 2);
                text-align: left;
                padding-left: 36px;
            }
        }

        .operator-keys {
            width: 94px;

            .key-equals {
                background-color: var(--key-equals-color);
                color: #fff;

                &:hover {
                    background-color: var(--key-equals-hover)
                }

                &:active {
                    background-color: var(--key-equals-active)
                }
            }
        }

        .function-key, .operator-key {
            background-color: var(--operator-key-color);
        }

        .key-clear {
            color: var(--key-clear-color);

            &:hover, :active {
                color: #fff;
            }
        }
    }
}

